*{
    margin: 0;
}
.menu{
    padding: 10px;
    background-color: rgba(70, 157, 228, 0.897);
    color: aliceblue;
    font-size: 30px;
    display: flex;
    justify-content: space-evenly;
}
.photo img{
    border-radius: 50%;
    margin: 50px 0px 100px 350px;
}
.ask{
    text-align: center;
}

.topic{
margin: 50px 200px auto 250px;

}
.table{
    font-size: 20px;
    margin: 20px 230px auto 150px;
    text-align: center;
    width: 500px;

}
.hr{
margin-left: 250px;}

.all{
    display: flex;
}